<% include partials/header %>


    <h2>Hello, <%= title %>!</h2>
    <ul>
    <% users.forEach(function(user){ %>
        <li>
            <%= user.username %> | <%= user.email %> - 
            <a class="deleteUser" 
                href=""
                data-id="<%= user._id %>">
                Delete
            </a>
        </li>
   <% }) %>
    </ul>

    <% include forms/signup %>
<% include partials/footer %>