html {
    font-size: 16px;
}

.blockquote {
    font-size: 16px;
    padding: 2px 10px 2px 10px;

}

.title {
    font-size: 18px;
    margin-left: 18px;
}

.title-episode {
    font-size: 18px;
    margin-left: 2px;
}

.feedInfo {
    margin-bottom: 10px;
}

.otherInfo {
    font-size: 12px;
}

.navbar-brand {
    font-size: 30px;
}

.podcast-img {
    max-width: 115px;
}

.unsubscribe {
    margin-right: 20px;  
    margin-left: 18px;  
    margin-bottom: 10px;
}

.alert-error {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-success_msg {
    background-color: rgb(223, 240, 216);
    color: rgb(60, 118, 61);
    border-color: rgb(208, 233, 198);
}