<strong>Add Feed</strong>

<form method="post" action="addFeed">
    <label>Feed URL:</label><br/>
    <% if(errors){ %>
        <div>
            <%= errors.feedURL.msg %>
        </div>
    <% } %>
    <input type="text" name="feedURL" />
    <input type="submit" value="submit">
</form>