<strong>Sign Up</strong>

<form method="post" action="users">

    <label>Username:</label><br/>
    <% if(errors){ %><div><%= errors.username.msg %></div><% } %>
    <input type="text" name="username" /><br/>

    <label>Password:</label><br/>
    <% if(errors){ %><div><%= errors.password.msg %></div><% } %>
    <input type="text" name="password" /><br/>

    <label>Verify Password:</label><br/>
    <% if(errors){ %><div><%= errors.verify.msg %></div><% } %>
    <input type="text" name="verify" /><br/>

    <label>Email:</label><br/>
    <% if(errors){ %><div><%= errors.email.msg %></div><% } %>
    <input type="text" name="email" /><br/>

    <input type="submit" value="submit">

</form>